# Идентификатор клиента Telegram OIDC (numeric Bot ID, например: 8586188935)
VITE_TELEGRAM_CLIENT_ID=

# Секрет клиента Telegram OIDC (из @BotFather -> Bot Settings -> Web Login -> Client Secret)
VITE_TELEGRAM_CLIENT_SECRET=
